.homeList {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;


  .x-mask .x-mask-inner {
    background-color: rgba(0, 0, 0, 0);

    .x-loading-spinner-outer {
      max-height: 110px;
    }

    .x-mask-message {
      font-weight: normal;
      color: rgba(255, 255, 255, 0.26);
    }
  }


  .x-dataview-item {
    width: 20%;
    height: 170px;
    float: left;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    border-right: 1px solid rgba(255, 255, 255, 0.09);
    padding: 20px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &.x-item-pressed {
      background-color: rgba(255, 255, 255, 0.07);
      opacity: 0.4;
      -webkit-filter: blur(4px);
    }
  }
  
  h3 {
    display: none;
  }
  
  span {
    display: block;
    line-height: 165px;
  }

  img {
    max-width: 135px;
    max-height: 60px;
  }

  &.inactive img{
    display: none;
  }

}

.x-portrait {

  .homeList {

    .x-dataview-item {
      width: 25%;
    }
  }

}



.x-phone {
  .homeList {

    .x-dataview-item {
      width: 50%;
      height: 120px;

      span {
        line-height: 100px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}





@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }