.x-layout-card-item {
  background: #293136 url("../images/bg/main-bg.jpg");
  background-size: cover;
}


.viewport-inner,
.homeMain .x-dock-body .x-panel-inner {

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mainmenu,
.x-toolbar.x-docked-left.mainToolbar {
  background-color: #1b1f24;
  background-image: url("../images/bg/left-bg.jpg");
  background-size: 100% 100%;
  border-right: none;

  img {
    display: block;
    max-width: 100%;
  }

  .x-button {
    padding: 15px 15px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin: 0;
    color: #fff;
    height: 65px;

    &.x-button-pressing {
      background-color: #dad27d;
    }

    .x-button-icon {
      background-repeat: no-repeat;
      background-size: 96% auto;

      &.search {
        background-image: theme_image('q4', "sortSearch.png");
      }

      &.sort{
        background-image: theme_image('q4', "sortA.png");

        &.sortDown {
          background-image: theme_image('q4', "sortZ.png");
        }
      }

      &.bookmark{
        background-image: theme_image('q4', "sortBookmark.png");
      }

      &.back{
        background-image: theme_image('q4', "back.png");
      }

      &:before {
        display: none;
      }
    }

    &.active {
      background-color: #50ada5;
    }
  }

}

.searchPanel {
  background: #242932;
  background-size: 100%;
  height: 65px;

  .x-button {
    padding: 15px 15px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin: 0;
    color: #fff;
    height: 65px;
    border: none;

    &.cancel {
      font-weight: normal;
      background: #2a2f37;
      height: auto;
      text-transform: uppercase;
      font-size: 13px;
      padding: 15px 20px;
      border-radius: 25px;

      &.x-button-pressing {
        background: #50ada5;
      }
    }

    .x-button-label {
      font-weight: normal;
    }

    .x-button-icon {
      background-repeat: no-repeat;
      background-size: 96% auto;

      &.search {
        background-image: theme_image('q4', "sortSearch.png");
      }

      &:before {
        display: none;
      }
    }
  }

  .x-component-outer{
    padding-left: 50px;
    padding-right: 15px;
  }

  .x-field-input {

    .x-input-el {
      background: none;
      margin: 0;
      border: none;
      padding: 3px 150px 3px 3px;
      font-size: 40px;
      color: #fff;
    }

    .x-clear-icon {
      background: url("../images/icons/clear.png");
      background-size: 100%;
      width: 38px;
      height: 40px;
      background-repeat: no-repeat;
      top: 11px;
      right: 100px;
    }
  }
}
