/**
 * @class Ext.Toolbar
 */

.x-toolbar {
  background: none;
}

.x-toolbar.x-docked-top {
    background: none;
    background: none;
//    padding: 10px 20px 10px 40px;
    border-bottom: 1px solid rgba(255,255,255,0.09);

  .x-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;

    span {
      color: #76bfb9;
      padding-right: 10px;
    }
  }

  .x-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;

    span {
      color: #76bfb9;
      padding-right: 10px;
    }
  }

    &.x-docked-left {
        width: 7em;
        padding: $toolbar-spacing;
    }

    &.x-docked-right {
        width: 7em;
        padding: $toolbar-spacing;
    }


  &.phoneToolbar {
    background-color: #242932;
    z-index: 0;
  }

}

.x-title {
    font-size: 1.2em;
    margin: 0 0.3em;
    padding: 0 0em;

    &.x-title-align-left {
      padding: 0;
    }
}



/**
* Creates a theme UI for toolbars.
*
*     // SCSS
*     @include sencha-toolbar-ui('sub', #58710D, 'glossy');
*
*     // JS
*     var myTb = new Ext.Toolbar({title: 'My Green Glossy Toolbar', ui: 'sub'})
*
* @param {string} $ui-label The name of the UI being created.
*   Can not included spaces or special punctuation (used in class names)
* @param {color} $color Base color for the UI.
* @param {string} $gradient: $toolbar-gradien Background gradient style for the UI.
*/


.x-android .x-field-search .x-field-input {
    padding-left: .2em !important;
    padding-right: 2.2em !important;
}
