/**
 * @class Ext.Toolbar
 */

.x-toolbar {
  background: none;
}

.x-toolbar.x-docked-top {
    background: none;
    background: none;
//    padding: 10px 20px 10px 40px;
    border-bottom: 1px solid rgba(255,255,255,0.09);

  .x-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;

    span {
      color: #76bfb9;
      padding-right: 10px;
    }
  }

  .x-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;

    span {
      color: #76bfb9;
      padding-right: 10px;
    }
  }

    &.x-docked-left {
        width: 7em;
        padding: $toolbar-spacing;
    }

    &.x-docked-right {
        width: 7em;
        padding: $toolbar-spacing;
    }

}

.x-title {
    font-size: 1.2em;
    margin: 0 0.3em;
    padding: 0 0em;

    &.x-title-align-left {
      padding: 0;
    }
}


.phoneToolbar {
  background-color: rgba(73, 84, 102, 0.86);
  border: none;

  .x-button {
    padding: 0px 15px;
    background: none;
    border: none;
    border-radius: 0;
    margin: 0;
    color: #fff;
    height: 60px;

    &.x-button-pressing {
      background-color: #dad27d;
    }

  /*  &.active {
      background-color: rgba(36, 41, 50, 0.34);
    }*/

    &.follow {
      position: absolute;
      right: 0;
      background: none;

      .x-button-label {
        width: 40px;
        height: 40px;
        color: #36373A;
        font-size: 23px;
      }

      &.active {
        background-color: none;

        .x-button-label {
          color: #50ada5;
        }
      }

      &.x-button-pressing {
        .x-button-label {
          color: #d9d17c;
        }
      }
    }

    &.toolbarSearch {
      position: absolute;
      right: 0;
    }

    .x-button-icon {
      background-repeat: no-repeat;
      background-size: 96% auto;


      &.menu{
        background-image: theme_image('q4', "menu.png");
      }

      &.search {
        background-image: theme_image('q4', "sortSearch.png");
      }

      &.back{
        background-image: theme_image('q4', "back.png");
      }

      &:before {
        display: none;
      }
    }
  }
}


/**
* Creates a theme UI for toolbars.
*
*     // SCSS
*     @include sencha-toolbar-ui('sub', #58710D, 'glossy');
*
*     // JS
*     var myTb = new Ext.Toolbar({title: 'My Green Glossy Toolbar', ui: 'sub'})
*
* @param {string} $ui-label The name of the UI being created.
*   Can not included spaces or special punctuation (used in class names)
* @param {color} $color Base color for the UI.
* @param {string} $gradient: $toolbar-gradien Background gradient style for the UI.
*/


.x-android .x-field-search .x-field-input {
    padding-left: .2em !important;
    padding-right: 2.2em !important;
}
